{% extends 'base.html.twig' %} 
{% block title %}Hello MyCars!{% endblock %} 
{% block body %}
    <div class="container">
        <div class="row mt-5 mb-5">
            {% for car in car %}
            <div class="card m-3" style="width: 18rem; box-shadow: 1px 1px 1px">
                <div class="card-body">
                <h5 class="card-title">{{ car.marque }} {{ car.modele }}</h5>
                <a href="{{ path('showone', {'id':car.id})}}"><img src="{{ asset('divers/images/' ~ car.image) }}" class="img-fluid card-img-top" style="height:150px;" alt="image voiture" /></a>
                <p class="card-text">{{ car.immat }}</p>
                <a href="" class="btn btn-primary">Révisions</a>
                <a href="#" class="btn btn-secondary">Réparations</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}