<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>header</title>
  </head>
  <body>
    <div class="container p-2">
      <div class="row header mb-3">
        <div class="col-md-4 d-flex justify-content-center fw-bold mt-2">
          Le {{ 'now'|date('d - m -Y') }}
        </div>
        <h1 class="col-md-4 d-flex justify-content-center fw-bold fs-3">
            <a class="nav-link" href="{{ path('app_home') }}" title="retour à l'accueil">RevizCar</a>
        </h1>
        <div class="col-md-4">
            {% if app.user %}
                <div class="row">
                    <div class="col-md-3 d-flex justify-content-center mt-3"><a href="{{ path('app_logout') }}" title="se déconnecter" aria-label="se déconnecter">
                        <i class="fa-solid fa-right-from-bracket fa-xl" style="color:black;"></i></a>
                    </div>
                    <div class="col-md-6 d-flex justify-content-center mt-3 fs-5"><span>Bonjour {{ app.user.firstName }} {{ app.user.lastName }}!</span></div>
                    {% if is_granted('ROLE_USER') in app.user.roles %}
                        <div class="col-md-3 d-flex justify-content-center mt-3">
                            <a href="{{ path('admin') }}" title="vers dashboard" aria-label="vers dashboard"><i class="fa-solid fa-gear fa-xl" style="color:black;"></i></a>
                        </div>
                    {% endif %}
                    {% else %}
                    <div class="col-md-3 d-flex justify-content-end mt-2 mx-auto shake-horizontal" style="color:black;">
                        <a href="{{ path('app_login') }}" title="se connecter" aria-label="se connecter">
                            <i class="fa-solid fa-circle-user fa-2x" style="color:black;"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>      
      </div>
    </div>
  </body>
</html>